:root {
    
}

@font-face {
    font-family: norse;
    src: url(./fonts/Norse-Bold.otf);
}

body {
    margin: 0px;
    /* using flexbox to split screen into 2 distinct sides: background, content */
    display: flex;
}

* {
    /* outline: 1px solid red; */
}


#background {
    position: relative;
    /* height and width of background dependent of contents sizes */
    max-width: min-content;
    max-height: min-content;
    
}
#background-img {
    /* position: absolute; */
    /* max-width: 50%;
    height: auto; */
    height: 100vh;
    /* fixes issue of small whitespace below img */
    display: block;
}
#background-title {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    
    width: 100%;

    padding-top: 10px;
    padding-bottom: 10px;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;

    background-color: rgba(0,0,0,0.3);
}
#background-logo {
    /* position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%); */
    /* width: 30%; */
    width: 100px;
    height: auto;
}
#background-title-text {
    /* font-size: 10vh; */
    font-size: 90px;
    color: white;
    font-family: norse;
    /* margin-left: 1vw; */
    /* margin-left: 10px; */
    /* vertically center */
    /* position: absolute;
    top: 50%;
    transform: translate(0%, -50%); */
}
#background-caption {
    position: absolute;
    top: 95%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* font-size: 2vh; */
    font-size: 12px;
    color: rgba(255, 255, 255, 0.5);
}
#background-caption > a {
    color: rgba(255, 255, 255, 0.5);
}


#content {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    gap: 50px;

    background-color: rgb(252, 254, 255);
}
#preamble {
    margin-left: 50px;
    margin-right: 100px;

    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}


#form {
    /* width, height, blur-radius, color */
    box-shadow: 2px 2px 6px rgb(219, 219, 219);
    background-color: white;

    padding-top: 30px;
    padding-bottom: 30px;
}
#form-title {
    margin-top: 0px;
    margin-left: 50px;
    margin-right: 100px;

    font-size: 22px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}
#form-inputs {
    margin-left: 50px;
    margin-right: 100px;
    
    display: flex;
    flex-wrap: wrap;
    
}
.form-input {
    /* just here to put the label over the input box */
    display: flex;
    flex-direction: column;

    margin-right: 50px;
    margin-bottom: 20px;

    width: 200px;
}
.form-input > label {
    font-family: Arial, Helvetica, sans-serif;
}
.form-input > input {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    border-radius: 5px;
    border-style: solid;
}
.form-input > input:invalid {
  border-color: red;
}
.form-input > input:valid {
  border-color: #E5E7EB;
}
.form-input > input:focus {
  border-color: blue;
  box-shadow: 2px 2px 10px rgb(168, 168, 168);
}



#create-account {
    margin-left: 50px;
    width: 250px;
    height: 50px;

    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    font-weight: bold;
    color: white;

    background-color: rgb(109, 74, 222);
    border: none;
    border-radius: 10px;
    box-shadow: 2px 2px 10px rgb(168, 168, 168);
}
#existing-account {
    margin-left: 50px;
    
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}