:root {
    
}

@font-face {
    font-family: norse;
    src: url(./fonts/Norse-Bold.otf);
}

body {
    margin: 0px;
    /* using flexbox to split screen into 2 distinct sides: background, content */
    display: flex;
}

* {
    outline: 1px solid red;
}


#background {
    position: relative;
    /* height and width of background dependent of contents sizes */
    max-width: min-content;
    max-height: min-content;
    
}
#background-img {
    /* position: absolute; */
    /* max-width: 50%;
    height: auto; */
    height: 100vh;
    /* fixes issue of small whitespace below img */
    display: block;
}
#background-title {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    
    width: 100%;

    padding-top: 10px;
    padding-bottom: 10px;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;

    background-color: rgba(0,0,0,0.3);
}
#background-logo {
    /* position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%); */
    /* width: 30%; */
    width: 100px;
    height: auto;
}
#background-title-text {
    /* font-size: 10vh; */
    font-size: 90px;
    color: white;
    font-family: norse;
    /* margin-left: 1vw; */
    /* margin-left: 10px; */
    /* vertically center */
    /* position: absolute;
    top: 50%;
    transform: translate(0%, -50%); */
}
#background-caption {
    position: absolute;
    top: 95%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* font-size: 2vh; */
    font-size: 12px;
    color: rgba(255, 255, 255, 0.5);
}
#background-caption > a {
    color: rgba(255, 255, 255, 0.5);
}


